.columns {
    padding: 0;
}

.square{
    padding: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

div.square:hover{
  background-color: rgba(249, 249, 249, 0.8);  
}

.symbolO{
    font-size: 30px;
}

.symbolX{
    font-size: 45px;
}