.columns {
    padding: 0;
}

.square{
    padding: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.symbolO{
    font-size: 30px;
}

.symbolX{
    font-size: 45px;
}