.columns {
    padding: 0;
}

.square{
    padding: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

div.square:hover{
  background-color: rgba(239, 239, 239, 0.8);  
}

.symbolO{
    font-size: 30px;
    color: rgb(13,202,240);
}

.symbolX{
    font-size: 45px;
    color: rgb(32,201,151);
}

.reset-button{
    margin: 0px 0px;
}